* {
    font-family: "Trebuchet MS";
    background-color:#c5e8c3;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.gerecht {
    float: right;
    clear: right;
    width: 400px;
    height: auto;
}